{% for slot in slots %}
<b>Begin at </b>{{ slot["begin_at"] }}
<b>End at </b>{{ slot["end_at"] }}
{% if slot["scale_team"] %}
&#9989;/delete_slot_{{ slot["id"] }}
{% else %}
&#10062;/delete_slot_{{ slot["id"] }}
{% endif %}


{% endfor %}
