<b>Full Name:</b> <i>{{ info["displayname"] }}</i>
<b>Login:</b> <i>{{ info["login"] }}</i>
<b>Correction points:</b> <i>{{ info["correction_point"] }}</i>
<b>Wallet:</b> <i>{{ info["wallet"] }}</i>
<b>e-mail:</b> <i>{{ info["email"] }}</i>
<b>Phone:</b> <i>{{ info["phone"] }}</i>
{% if info["location"] %}
<b>Location:</b> <i>{{ info["location"] }}</i>
{% endif %}

<b>Cursus:</b>
{% for curs in cursus %}
	&#9989; {{ curs["cursus"]["name"] }}, <b>level:</b> <i>{{ curs["level"] }}</i>
{% endfor %}

<b>Pool date:</b> <i>{{ info["pool_month"] }} {{ info["pool_year"] }}</i>